@import url("./answerNow.less");
body{
    display:flex;
    align-content: center;
} 
p.question{
    font-size: 1.2em;
    margin:0px;
    text-align:center;
}

.question-container {
    margin-top: 10em;

    .question-card {
        form {
            .buttons{
                display:flex;
                justify-content: space-around;
                align-content: flex-end;
                width:100%;
            
                button{
                    color: #FFF;
                    margin: 0 auto;
                    background: @orange;
                    font-size: 1.2em;
                    text-align: center;
                    border-radius:15px;
                    width:30%;
                    outline:none;
                    border: 1px solid @dark_orange;
                    border-width: 1px 1px 3px;
                    margin-top: 1em;
                    &:hover {
                        background: @dark_orange;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 325px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .question-container {
        .question-card {
            width: 70%;
            .buttons {
                button {
                    margin: 0;
                    width: 40%;
                }
            }
        }

        margin-bottom: 3em;
    }
}
