@import url("./general.less");
body{
    display:flex;
    align-content: center;
} 
.question-container{
    margin-top:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;

    p {
        font-size: 1.5em;
    }

    .question-card{
        width:50%;
        min-height: 120px;
        background: #d7afd3;
        margin:10px;
        border-radius: 25px;

        
        .question{
            padding-bottom: 15px;
            font-size: 1.2em;
            width: 100%;
        }

        form{
            display: flex;
            flex-direction: column;
            padding:20px 40px;

            .check{
                display: block;
            }

            textarea{
                width: 100%;
                height: 80px;
                margin-top:10px;
                margin-bottom:10px;
                font-size: 15px;
                resize: none;
                border-radius: 5px;

                &:focus{
                    outline-color: @purple;
                    border-color: @purple;
                }
            }
            button{
                color: #FFF;
                background: @orange;
                margin: 5% 30%;
                font-size: 1.2em;
                text-align: center;
                border-radius:15px;
                width:40%;
                outline:none;
                border: 1px solid @dark_orange;
                border-width: 1px 1px 3px;
                margin-top: 1em;
                &:hover {
                    background: @dark_orange;
                }
            }
        }
    }
}

.container {
    position: relative;
    padding-left: 1.5em;
    margin-bottom: 0.5em;
    cursor: pointer;
    font-size: 1.2em;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        display: none;

        &:checked ~ .checkmark {
            background-color: @orange;

            &:after {
                display: block;
            }
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 5px;

        &:hover {
            background-color: #ccc;
        }

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

/* Tablet - portrait*/

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .question-container {
        .question-card {
            width: 75%;
            form {
                div.buttons {
                    display: flex;

                    button {
                        width: 35%;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .question-container {
        .question-card {
            form {
                div.buttons {
                    display: flex;

                    button {
                        width: 25%;
                    }
                }
            }
        }
    }
}

/* Phone - portrait */

@media only screen and (min-width: 320px) and (max-width: 667px) and (orientation: portrait) {
    .question-container {
        .question-card {
            width: 96%;
            border-radius: 25px;
            .area {
                height: 8em;
            }
            form {
                div.buttons {
                    display: flex;
                    justify-content: center;

                    button {
                        margin: 0;
                        width: 40%;
                    }
                }
            }
        }
    }

    div.menu {
        .menu-nav {
            min-width: 200px;
            a {
                padding: 12px 9px;
            }
        }
        .token {
            .insert-token {
                width: 55%;
            }
        }
    }
}


/* Phone - landscape */

@media only screen and (min-width: 320px) and (max-width: 667px) and (orientation: landscape) {
    .question-container {
        .question-card {
            width: 70%;
            form {
                div.buttons {
                    button {
                        margin: 0;
                        width: 40%;
                    }
                }
            }
        }
    }
}



