@import url("./general.less");
.body {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

#modal2 {
    margin-top: 40px;
}

.question-modal {
    position: fixed;
    top: 50px;
    z-index: 1;
    .modal-button {
        cursor: pointer;
        border: none;
        outline: none;
        width: 32px;
        height: 32px;
        margin-left: 20px;
    }
    #button-modal {
        background: url(../images/question.png) no-repeat;
    }
    #button-modal2 {
        background: url(../images/repeat.png) no-repeat;
    }
    .buttons {
        display: flex;
        justify-content: space-around;
        align-content: flex-end;
        width: 100%;
        button {
            color: #FFF;
            margin: 0 auto;
            background: @orange;
            font-size: 1.2em;
            text-align: center;
            border-radius: 15px;
            width: 30%;
            outline: none;
            border: 1px solid @dark_orange;
            border-width: 1px 1px 3px;
            margin-top: 1em;
            &:hover {
                background: @dark_orange;
            }
        }
    }
    .modal {
        display: none;
        position: fixed;
        padding-top: 200px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 30px;
            border: 1px solid #888;
            width: 50%;
            min-height: 80px;
            border-radius: 5px;
            textarea {
                width: 100%;
                height: 100px;
                font-size: 15px;
                resize: none;
                border-radius: 5px;
                &:focus {
                    outline-color: @purple;
                    border-color: @purple;
                }
            }
            #add-question {
                cursor: pointer;
                border: none;
                outline: none;
                background: url(../images/checked-gray.png) no-repeat;
                margin-top: 9px;
                height: 32px;
                width: 32px;
                &:hover {
                    background: url(../images/checked-focus.png) no-repeat;
                }
            }
            .close {
                color: #aaaaaa;
                float: right;
                text-align: center;
                font-size: 48px;
                font-weight: bold;
                margin-bottom: -10px;
                &:hover, &:focus {
                    color: @orange;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
}

.card-container-vote {
    margin-left: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 40px;
        padding: 25px;
        background: -webkit-linear-gradient(-45deg, #d7afd3 80%, #dbd3e2 95%, #dfc1f5 100%);
        border-bottom-right-radius: 60px 5px;
        min-height: 200px;
        max-width: 250px;
        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)
        }
        .question {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 15px;
            text-align: justify;
            min-height: 125px;
        }
        .buttons {
            display: flex;
            justify-content: space-around;
            align-content: flex-end;
        }
    }
    .like {
        background: url(../images/thumbs_up.png) no-repeat;
        cursor: pointer;
        border: none;
        width: 64px;
        height: 64px;
        outline: none;
    }
    .dislike {
        background: url(../images/thumbs_down.png) no-repeat;
        cursor: pointer;
        border: none;
        width: 64px;
        height: 64px;
        outline: none;
    }
}

label.container {
    display: inherit;
}



/* Phone - portrait */

@media only screen and (min-width: 320px) and (max-width: 600px) and (orientation: portrait) {
    .body {
        .card-container-vote {
            grid-template-columns: repeat(1, 1fr);
            margin-left: 30px;
        }
    }
    .menu {
        .menu-nav {
            min-width: 150px;
            a {
                padding: 12px 4px;
            }
        }
        .token {
            .insert-token {
                max-width: 60px;
            }
        }
    }
}


/*Phone - landscape */

@media only screen and (min-width: 320px) and (max-width: 667px) and (orientation: landscape) {
    .card-container-vote {
        grid-template-columns: repeat(2, 1fr);
    }
    .menu {
        width: 83%;
    }

    .question-modal {
        .modal {
            padding-top: 5em;
            .modal-content {
                width: 70%;
            }
        }

        .buttons {
            button {
                width: 36%;
            }
        }
    }
}


/* Tablet - portrait*/

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .card-container-vote {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 320px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
    }
    div.menu {
        .menu-nav {
            min-width: 200px;
            a {
                padding: 12px 9px;
            }
        }
        .token {
            .insert-token {
                width: 55%;
            }
        }
    }

    .question-modal {
        .modal {
            .modal-content {
                width: 70%;
            }
        }
        .buttons {
            flex-direction: column;

            button {
                width: 70%;
            }
        }
    }
}