/*colors*/
@gray:#878385;
@green:#1abc9c;
@light_purple : #A64470;
@orange : #F4793B;
@neutral_color: #555358;
@form_text_color: #d2d5dd;
@purple:#924A8B;
@dark_orange: #ea5f19;

/*images*/
@student_desktop_not_selected: url("../images/student.png");
@teacher_desktop_not_selected: url("../images/teacher.png");
@student_desktop_selected: url("../images/student_selected.png");
@teacher_desktop_selected: url("../images/teacher_selected.png");

html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    background-size: 100% 1.2em;
    background-image: 
      linear-gradient(
        90deg, 
        transparent 79px, 
        #abced4 79px, 
        #abced4 81px, 
        transparent 81px
      ),
      linear-gradient(
        #eee .1em, 
        transparent .1em
      );
    height:100%;
  }

body{
    margin:0px;
    min-height: 90%;
}

div.menu{
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    z-index: 1;
    width:100%;
    margin: 0;
    padding: 0;
    background-color:@purple;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    .menu-nav{
        margin: 0;
        padding: 0;
        min-width:250px;
        a{
            text-decoration:none;
            color: white;
            padding: 12px 16px;

            &:hover{
                text-decoration: none;
                background-color:@orange;
                
            }
        }
    
    }

    .token{
        margin:0px;
        padding: 0px;
        display: flex;
        .insert-token{
            padding:5px;
            margin-right: 15px;
        }
        .submit-token{
            cursor:pointer;
            border:none;
            outline: none;
            background:url(../images/checked.png) no-repeat;
            width:32px;
            height:32px;
            margin-right:15px;

            &:hover{
                background:url(../images/checked-focus.png) no-repeat;
            }
        }
    }

    .generate-token{
        background: @purple;
        margin:0px;
        padding: 0px;
        display: flex;
        cursor:pointer;
        border:none;
        outline: none;
        min-height: 40px;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
  
        &:hover{
          background: @orange;
        }
      }

      .modal {
        position: fixed;
        display: none;
        z-index: 1;
        padding-top: 200px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
    
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 30px;
            border: 1px solid #888;
            width: 50%;
            min-height: 50px;
            border-radius: 5px;
            text-align: center;
        }
    }

}

.card-container{
    margin-top:50px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left:60px;

    .card {
        display: flex;
        justify-content: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 40px;
        padding: 25px;
        background: -webkit-linear-gradient(-45deg, #d7afd3 80%, #dbd3e2 95%, #dfc1f5 100%);
        border-bottom-right-radius: 60px 5px;
        min-height: 200px;
        max-width: 250px;
        min-width: 60px;

        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)
        }

        .question {
            align-self: center;
            text-align: center;
        }
    }
}

.home-button, input[type="button"] {
    position: relative;
    display: block;
    color: #FFF;
    margin: 0 auto;
    background: @orange;
    font-size: 1.2em;
    text-align: center;
    width: 50%;
    border: 1px solid @dark_orange;
    border-width: 1px 1px 3px;
    margin-top: 1em;
    border-radius: 20px;
    padding: 0.5em 0;


    &:hover {
        background: @dark_orange;
    }
}

#token_value {
  padding: 0.5em;
}

.container {
    position: relative;
    padding-left: 1.5em;
    margin-bottom: 0.5em;
    cursor: pointer;
    font-size: 1.2em;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        display: none;

        &:checked ~ .checkmark {
            background-color: @orange;

            &:after {
                display: block;
            }
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 5px;

        &:hover {
            background-color: #ccc;
        }

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}