@import url("./general.less");

/* Tablet - portrait*/

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 320px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 320px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
    }

    div.menu {
        .menu-nav {
            min-width: 200px;
            a {
                padding: 12px 9px;
            }
        }

        .token {
            .insert-token {
                width: 55%;
            }
        }
    }
}