@import url("./general.less");

html {
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    background-color: #fff;
    background-size: 95% 1.2em;
    background-image: linear-gradient( 90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient( #eee .1em, transparent .1em);
}

h1 {
    color: @orange;
    text-align: center;
    margin-top: 1.5em;
}

div {
    display: inline-block;
}

.radio_list_wrapper {
    border: 0;
    display: flex;
    justify-content: center;
    margin-top: 5em;
    div.row {
        div {
            margin-right: 5em;
            label {
                color: @neutral_color;
            }
        }
    }
    .radio {
        display: inline-block;
        .student_radio_text {
            margin-left: 3em;
        }
        input[type="radio"] {
            display: none;
            + label {
                display: block;
                height: 256px;
                width: 256px;
                margin-left: 3em;
                &.student_photo {
                    background-image: @student_desktop_not_selected;
                }
                &.teacher_photo {
                    background-image: @teacher_desktop_not_selected;
                }
            }
            &:checked {
                + label {
                    &.student_photo {
                        background-image: @student_desktop_selected;
                    }
                    &.teacher_photo {
                        background-image: @teacher_desktop_selected;
                    }
                }
            }
            img {
                cursor: pointer;
            }
        }
    }
}

.form_container {
    display: flex;
    justify-content: center;
    margin: 4em 0;
    .register_form, .login_form {
        margin: 0em 4em;
        max-width: 25em;
        padding: 20px;
        border-radius: 25px;
        box-shadow: 7px 11px #ccc;

        legend {
            font-size: 1.4em;
            margin-bottom: 10px;
        }
        label {
            display: block;
            margin-bottom: 1em;
        }
        input, textarea, select {
            background: rgba(255, 255, 255, .1);
            border: none;
            border-radius: 15px;
            font-size: 16px;
            margin: 0;
            outline: 0;
            padding: 7px;
            width: 90%;
            background-color: #e8eeef;
            color: #8a97a0;
            margin-bottom: 30px;
            &:focus {
                background: @form_text_color;
            }
        }

        .label {
            background: @light_purple;
            padding: 0.2em;
            color: #fff;
            width: 150%;
            display: inline-block;
            font-size: 1em;
            margin-right: 4px;
            text-align: center;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
            border-radius: 15px 15px 15px 0px;
        }
    }
    .login_form {
        max-height: 15em;
        margin-top: 10em;
    }
}

@media only screen 
and (min-width: 768px)
 and (max-width: 1024px)
  and (orientation: portrait)
   and (-webkit-min-device-pixel-ratio: 1) {
    .radio_list_wrapper {
        display: inline-block;
        .row {
            div {
                &:first-of-type {
                    float: left;
                }
                &:last-of-type {
                    float: right;
                    margin-right: 0em;
                }
            }
        }
    }

    .form_container {
        .register_form, .login_form {
            margin: auto;
            max-width: 20em;
        }
    }
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      .radio_list_wrapper {
          margin-top: 1em;

          .radio:nth-of-type(2) {
            label {
                margin-left: 5em;
            }
          }

          div.row {
              div {
                  margin-left: 2em;
                  margin-right: 0;
              }
          }
      }

      .form_container {
          flex-direction: column;
          margin: 0;

          .login_form, .register_form {
              margin-top: 2em;
              width: 81%;
              max-width: unset;
              margin: 0 0.5em;
          }

          .register_form {
              margin: 3em 0.5em;
          }
      }
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
      .radio_list_wrapper {
          div.row {
              div {
                  margin-right: 0;
              }
          }
      }

      .form_container {
          flex-direction: column;
          margin: 0;

          .login_form, .register_form {
              margin: 0 auto;
              margin-top: 7em;
          }

          .register_form {
              margin-bottom: 3em;
          }
      }
  }