@import url("./general.less");
body {
    display: flex;
    align-content: center;
}

.body {
    width: 100%;
}

.question-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .question-card {
        width: 50%;
        min-height: 120px;
        background: #d7afd3;
        margin: 10px;
        border-radius: 25px;
        padding: 20px 40px 20px 40px;
        .question {
            padding-bottom: 15px;
        }
        label {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5em;
        }
        .option {
            margin-right: 1em;
            margin-bottom: 0.5em;
        }
        textarea {
            width: 100%;
            height: 80px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 15px;
            resize: none;
            border-radius: 5px;
            &:focus {
                outline-color: @purple;
                border-color: @purple;
            }
        }
    }
}


/* Tablet - portrait*/

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .card-container-vote {
        grid-template-columns: repeat(2, 1fr);
    }
    .question-container {
        .question-card {
            width: 70%;
        }
    }
}

@media only screen and (min-width: 360px) and (max-width: 667px) and (orientation: portrait) {
    .question-container {
        .question-card {
            width: 65%;
        }
    }
}

@media only screen and (min-width: 360px) and (max-width: 667px) and (orientation: landscape) {
    .question-container {
        .question-card {
            width: 75%;
        }
    }
}